$form-background: #FFE091;

.basic-wrapper{
  filter: none;
}

.modal-form{
  position: absolute;
  left: calc(25%);
  top: calc(10%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  z-index: 2;
  width: 50vw;
  height: 70vh;
  background-color: $form-background;

  border-radius: 50px;

  label{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    color: $background-hover-menu;
  }
  img{
    width: 50%;
    border-radius: 10%;
  }
  .form-control{
    width: 60%;
    height: 3rem;
    border: 4px solid $background-hover-menu;
    font-size: 2rem;
    border-radius: 15px;
    outline: none;
  }
  .submit-button{
    width: 6rem;
    height: 6rem;
    border: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    border-radius: 50%;
  }
  .submit-button:hover{
    background-color: $background-hover-menu;
    color: $form-background;
  }
}
.hidden{
  display: none;
}
