@media all and (max-width: 1200px) {
  .logo {
    width: 333px;
  }

  .carousel {
    transform: scale(0.9);
  }
}
@media all and (max-width: 1000px) {
  .burger-button {
    display: flex;
  }

  .desktop_menu {
    display: none;
  }

  main {
    width: 100%;
  }

  footer {
    justify-content: center;
  }

  .hows-that-pokemon .pokemon-form-button {
    width: 12vh;
    height: 12vh;
    font-size: 80px;
  }

  .modal-form {
    left: 10%;
    width: 80vw;
  }
  .modal-form img {
    width: 65%;
  }

  .lightning-left {
    left: 30px;
  }
}
@media all and (max-width: 800px) {
  .lightning {
    height: 20rem;
    top: 15vh;
  }
}
@media all and (max-width: 550px) {
  main .logo {
    width: 370px;
    background-size: contain;
  }

  .carousel {
    width: 100px;
  }

  .gallery {
    width: 100px;
  }

  .hows-that-pokemon .title {
    text-align: center;
  }
}